/*! main.css.scss */
@import 'bourbon/bourbon';

/* VARIABLES */

/* COLOR VARIABLES */

$lighter-gray:#ebebeb;
$light-gray:#b8b8b8;
$normal-gray:#ddd;
$dark-gray:#aaa;
$darker-gray:#525252;
$var-black:#333;

$background:#fff;
$content-color:#575757;
$title-color:#262626;

$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

$a: #1e90ff;
$v: #007AF5;

/* UNDOING THE CSS RESET */

/* BLOCK QUOTES */

blockquote {
	border-left:4px #ebebeb solid;
	padding-left:1rem;
	color:$dark-gray;
}

/* BASIC MARKUP TAGS */

em, i { font-style:italic; }

strong, b {
	font-weight:bold;
	color:#423f37;
}

/* HEADING TAGS */

// general
h1, h2, h3, h4, h5, h6 {
	font-family:"PT Sans",sans-serif;
	text-rendering:optimizelegibility;
	color:#423f37;
	margin-top:1em;
	margin-bottom:0.5em;
}

// font weights
h1, h2 { font-weight:normal; }
h3, h4, h5, h6 { font-weight:bold; }

// heading sizes
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:14px; }
h4 { font-size:12px; }
h5 { font-size:10px; }
h6 { font-size:8px; }

/* ANCHOR TAGS */

a:link, a:visited {
	color:$a;
	background:inherit;
	text-decoration:none;
}
a:visited { color:$v; }
a:hover { text-decoration:underline; }
// a:focus { color:$a; }

/* HORIZONTAL RULERS */

hr {
	border:0;
	margin:0;
	height:1px;
	width:100%;
	border-bottom:solid 1px #eee;
}

/* TEXT/CONTENT */

p { margin:1.1rem 0; }

abbr {
	border-bottom:1px $light-gray dotted;
}

/* LISTS */

ol, ul {
	padding-left:3rem;
	list-style-position:outside;
	margin:1.1rem 0;
}

ul {
	list-style-type:disc;
	ul {
		list-style-type:circle;
		ul { list-style-type:square; }
	}
}

ol { list-style-type:decimal; }

/* CODE RELATED TAGS */

// styles for all code related tags
pre, pre>code, p>code, a>code {
	font-family:Consolas,Menlo,Monaco,monospace;
	font-size:13px;
	background:#ebebeb;
	margin:0;
	padding:0;
	border-radius:2px;
}

// borders
pre, p>code, a>code { border:1px solid #b8b8b8; }

// inline code blocks
p>code, a>code {
	padding:1px 5px;
	color:black;
}

// pre tags, code blocks
pre {
	overflow:auto;
	white-space:pre;
	text-align:left;
	width:100%;
	display:block
}



/* GLOBAL STYLES */

html {
	font-size:17px;
}



/* CONTENT STYLES AND LAYOUT */

#wrapper {
	background:white;
	color:#57534a;
	line-height:1.5;
	font-family:"PT Sans",sans-serif;
}

#header, #content, #footer {
	margin:0 auto;
}

#header {
	text-align:center;
	padding-top:30px;

	nav { border-bottom:1px #eee solid; }
	ul { list-style-type:none; margin:0; padding:0; }
	li { display:inline-block; }
	a:link, a:visited {
		color:#423f37;
		display:block;
		text-decoration:none;
		padding:10px 23px;
		padding-bottom:0px;
	}
	a~.arrow {
		width:0px;
		height:0px;
		margin:0 auto;
		border:transparent 5px solid;
	}
	a:hover~.arrow { border-bottom:#bbb 5px solid; }
	a.menu-current~.arrow { border-bottom:#423f37 5px solid; }
}

article {
	header {
		h1 { margin-bottom:0.1em; }
	}
}

.meta { color:#ccc; }

.posts-list {
	ul {
		list-style-type:none;
		padding-left:0;
		margin:0;
		margin-left:16px;
	}
	time {
		color:$darker-gray;
		font-size:.7rem;
		text-transform:uppercase;
	}
	h2 {
		margin:0;
	}
}



/* FOOTER */

#footer {
	text-align:center;

	margin-top:24px;
	border-top:1px #eee solid;
	padding-top:10px;
	padding-bottom:30px;
	p { margin:0; }

	.social-icons {
		margin:10px 0;
		font-size:30px;
		a:link, a:visited {
			color:#57534a;
		}
		a:hover {
			@include transition(.2s);
			text-decoration:none;
			color:$a;
		}
	}
}



/* MEDIA QUERIES */

@media (min-width: 320px)  {
	#content {
		max-width:90%;
		padding:0 5%;
	}
}

@media (min-width: 480px)  {

}

@media (min-width: 600px)  {

}

@media (min-width: 801px)  {
	#content {
		max-width:700px;
		min-height:200px;
	}
}

@media (min-width: 1025px)  {

}

@media (min-width: 1281px)  {

}
