/*! all.css */
@import 'bourbon/bourbon';

/* VARIABLES */

/* COLOR VARIABLES */

$lighter-gray:#ebebeb;
$light-gray:#b8b8b8;
$normal-gray:#ddd;
$dark-gray:#aaa;
$darker-gray:#525252;
$var-black:#333;

$background:#fff;
$content-color:#575757;
$title-color:#262626;

$base03:  #002b36;
$base02:  #073642;
$base01:  #586e75;
$base00:  #657b83;
$base0:   #839496;
$base1:   #93a1a1;
$base2:   #eee8d5;
$base3:   #fdf6e3;
$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

/* HIGHLIGHT.JS STYLES */

pre code{display:block;padding:.5em;background:#F0F0F0}pre code,pre .subst,pre .tag .title,pre .lisp .title,pre .clojure .built_in,pre .nginx .title{color:#000}pre .string,pre .title,pre .constant,pre .parent,pre .tag .value,pre .rules .value,pre .rules .value .number,pre .preprocessor,pre .haml .symbol,pre .ruby .symbol,pre .ruby .symbol .string,pre .aggregate,pre .template_tag,pre .django .variable,pre .smalltalk .class,pre .addition,pre .flow,pre .stream,pre .bash .variable,pre .apache .tag,pre .apache .cbracket,pre .tex .command,pre .tex .special,pre .erlang_repl .function_or_atom,pre .asciidoc .header,pre .markdown .header,pre .coffeescript .attribute{color:#800}pre .comment,pre .annotation,pre .template_comment,pre .diff .header,pre .chunk,pre .asciidoc .blockquote,pre .markdown .blockquote{color:#888}pre .number,pre .date,pre .regexp,pre .literal,pre .hexcolor,pre .smalltalk .symbol,pre .smalltalk .char,pre .go .constant,pre .change,pre .lasso .variable,pre .asciidoc .bullet,pre .markdown .bullet,pre .asciidoc .link_url,pre .markdown .link_url{color:#080}pre .label,pre .javadoc,pre .ruby .string,pre .decorator,pre .filter .argument,pre .localvars,pre .array,pre .attr_selector,pre .important,pre .pseudo,pre .pi,pre .haml .bullet,pre .doctype,pre .deletion,pre .envvar,pre .shebang,pre .apache .sqbracket,pre .nginx .built_in,pre .tex .formula,pre .erlang_repl .reserved,pre .prompt,pre .asciidoc .link_label,pre .markdown .link_label,pre .vhdl .attribute,pre .clojure .attribute,pre .asciidoc .attribute,pre .lasso .attribute,pre .coffeescript .property{color:#88F}pre .keyword,pre .id,pre .title,pre .built_in,pre .aggregate,pre .css .tag,pre .javadoctag,pre .phpdoc,pre .yardoctag,pre .smalltalk .class,pre .winutils,pre .bash .variable,pre .apache .tag,pre .go .typename,pre .tex .command,pre .asciidoc .strong,pre .markdown .strong,pre .request,pre .status{font-weight:700}pre .asciidoc .emphasis,pre .markdown .emphasis{font-style:italic}pre .nginx .built_in{font-weight:400}pre .coffeescript .javascript,pre .javascript .xml,pre .lasso .markup,pre .tex .formula,pre .xml .javascript,pre .xml .vbscript,pre .xml .css,pre .xml .cdata{opacity:.5}

/* UNDOING THE CSS RESET */

/* BLOCK QUOTES */

blockquote {
	//margin-left:2rem;
	border-left:4px #ebebeb solid;
	padding-left:1rem;
	color:$dark-gray;
}

/* BASIC MARKUP TAGS */

em, i { font-style:italic; }

strong, b {
	font-weight:bold;
	color:#423f37;
}

/* HEADING TAGS */

// general
h1, h2, h3, h4, h5, h6 {
	font-family:"PT Sans",sans-serif;
	text-rendering:optimizelegibility;
	color:#423f37;
	margin-top:1em;
	margin-bottom:0.5em;
}

// font weights
h1, h2 { font-weight:normal; }
h3, h4, h5, h6 { font-weight:bold; }

// heading sizes
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:14px; }
h4 { font-size:12px; }
h5 { font-size:10px; }
h6 { font-size:8px; }

/* ANCHOR TAGS */

a:link, a:visited {
	color:$red;
	background:inherit;
	text-decoration:none;
}
a:visited { color:#C02321; }
a:hover { text-decoration:underline; }
// a:focus { color:$red; }

/* HORIZONTAL RULERS */

hr {
	border:0;
	margin:0;
	height:1px;
	width:100%;
	border-bottom:solid 1px #eee;
}

/* TEXT/CONTENT */

p { margin:1.1rem 0; }

abbr {
	border-bottom:1px $light-gray dotted;
}

/* LISTS */

ol, ul {
	padding-left:3rem;
	list-style-position:outside;
	margin:1.1rem 0;
}

ul {
	list-style-type:disc;
	ul {
		list-style-type:circle;
		ul { list-style-type:square; }
	}
}

ol { list-style-type:decimal; }

/* CODE RELATED TAGS */

// styles for all code related tags
pre, pre>code, p>code, a>code {
	font-family:Consolas,Menlo,Monaco,monospace;
	font-size:13px;
	background:#ebebeb;
	margin:0;
	padding:0;
	border-radius:2px;
}

// borders
pre, p>code, a>code { border:1px solid #b8b8b8; }

// inline code blocks
p>code, a>code {
	padding:1px 5px;
	color:black;
}

// pre tags, code blocks
pre {
	overflow:auto;
	white-space:pre;
	text-align:left;
	padding:5px 5px;
	//margin:0 10px;
}

/* GLOBAL STYLES */

html {
	font-size:17px;
}




/* CONTENT STYLES AND LAYOUT */

#wrapper {
	background:white;
	color:#57534a;
	line-height:1.5;
	font-family:"PT Sans",sans-serif;

	// box-shadow:0px 0px 2px 2px #c9c9c9;
}

#header, #content, #footer {
	margin:0 auto;
}

#header {
	text-align:center;
	padding-top:30px;

	nav { border-bottom:1px #eee solid; }
	ul { list-style-type:none; margin:0; padding:0; }
	li { display:inline-block; }
	li:hover {
	}
	a:link, a:visited {
		color:#423f37;
		// font-size:18px;
		display:block;
		text-decoration:none;
		@include transition(.2s);
		border-bottom:#fff 3px solid;
		padding:10px 23px;
		padding-bottom:7px;
	}
	a:hover {
		// background:#f6f6f6;
		// color:#423f37;
		text-decoration:none;
		border-bottom:#423f37 3px solid;
	}
	a.menu-current {
		color:$red;
		border-bottom:$red 3px solid;
	}
}

#content {
	width:700px;
}

main { min-height:200px; }

article {
	header {
		h1 { margin-bottom:0.1em; }
	}
}

.meta { color:#ccc; }

.posts-list {
	ul {
		list-style-type:none;
		padding-left:0;
		margin:0;
		margin-left:16px;
	}
	time {
		color:$darker-gray;
		font-size:.7rem;
		text-transform:uppercase;
	}
	h2 {
		margin:0;
	}
}

/* FOOTER */

#footer {
	text-align:center;

	margin-top:24px;
	border-top:1px #eee solid;
	padding-top:10px;
	padding-bottom:30px;
	p { margin:0; }
	// background:#f6f6f6;
}



/* MEDIA QUERIES */

// nothing here...
