background = #323232
foreground = #d6d6d6

light_gray = #666
normal_gray = #525252
dark_gray = #3d3d3d
var_black = #323232

div#wrapper
	width  800px
	margin-top  100px

	// The header, i.e. the logo and navigation
	header[role='banner']
		float  left
		text-align  right
		width  140px
		text-transform uppercase

		// Navigation
		nav
			font-weight  bold

			a
				display  block

			a:link, a:visited
				color  foreground
				background  inherit
				text-decoration  none
				border-bottom  none
			a:hover, a:active
				text-decoration  none

			ul
				padding-left  0
				list-style  none

				li
					border-bottom  1px dark_gray solid
					a
						padding  0.1em 0
						padding-right  0.3em

				li:hover
					background  dark_gray

				li:first-child
					border-top  1px dark_gray solid

				li#menu-current
					a
						color  normal_gray

	main
		margin-left  200px

	footer
		margin-top  50px
