/*! EduanTech theme by Eduan Lavaque, Licensed under the MIT license */

// Enable nib
@import 'nib'
// Import normalize.css
@import 'normalize.css'

/* ============================================================================
SCSS VARIABLES
============================================================================ */

light_yellow_brown = #f7f1da
dark_blue          = #355564
normal_blue        = #4b758b
light_blue         = #80afbf
normal_red         = #d24939
light_gray         = #d9d8d6
normal_gray        = #757172
dark_gray          = #333
var_black          = #070707


// Font
@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic")
font       = "Open Sans", Arial, sans-serif
title_font = "Open Sans", Newton, serif
mono_font  = "DejaVu Sans Mono", Menlo, Monaco, Consolas, monospace


/* ============================================================================
BASIC TAGS' STYLES
============================================================================ */

/* ----------------------------------------------------------------------------
Heading tags */

h1, h2, h3, h4, h5, h6
	line-height  1.2em
	font-family  title_font
	color  var_black
	text-rendering  optimizelegibility
	margin-top  1em
	margin-bottom  0.5em

h1, h2
	font-weight  300
h1
	color  var_black
h2
	color  dark_gray
h3, h4, h5, h6
	font-weight  bold

h1
	font-size  2.5em
h2
	font-size  1.5em
h3
	font-size  1.25em
h4
	font-size  1.125em


/* ----------------------------------------------------------------------------
Anchor tags */

a:link, a:visited
	color  normal_blue
	background  inherit
	text-decoration  none
	border-bottom  1px var_gray solid

a:visited, a:hover
	border-bottom  1px normal_blue solid
a:focus
	outline  thin-dotted
a:active
	border-bottom  1px light_red solid


/* ----------------------------------------------------------------------------
Horizontal ruler */

// Still gotta add stuff here. You know...


/* ============================================================================
WEBSITE HEADER
============================================================================ */

div#top
	// Main styles
	font-family  title_font
	font-weight  700

	#nav-intro
		margin-left  0.2em
		font-size  0.9em
		font-style  italic
		font-weight  400

	header
	// Header/logo styles
	a:link, a:visited
		color  black
	a:hover, a:active
		text-decoration  none
		transition  color 0.4s ease
		color  var_black
		border-bottom  none

	// Navigation styles
	nav
		font-size  0.9em
		a
			display  inline-block
			font-weight  800
			margin-right  1em

		// The current selection in the menu
		a#menu-current
			color  var_black

		a:link, a:visited
			color  gray
			text-decoration  none
		a:hover, a:active
			text-decoration  none
			transition  color 0.4s ease
			color  var_black
			border-bottom  none


/* ============================================================================
CONTAINER AND STUFF
============================================================================ */

*
	// Make width/height include margin/padding in calculation
	box-sizing  border-box
	// Font smoothing...
	text-shadow  1px 1px 1px rgba(0,0,0,0.004)
	line-height  1.2em


// The "main" styles for the content
div#wrapper
	border  1px solid #000
	background  #fefaef
	color  var_black
	font-family  font
	font-size  1.2em
	margin  0 auto


/* ============================================================================
CONTENT RULES
============================================================================ */

// What allows the <main> to be in the center without the text being centered
.sides
	color  var_white
	font-size  1px

// The styles of the main content
main

	// Align page headers to the center
	header
		text-align  center

	// Align post/article headers to the left, I like it better
	article header
		text-align  left

	code
		font  mono_font
		font-size  0.8em

	// What `` generates when in Markdown, the <code> tag
	code.inline-code
		background  #f8f8f8
		font-weight  bold
		padding  0.1em 0.18em
		margin  0
		border  1px solid #ddd
		white-space  nowrap

	// Make <code> tags that are a link have an underline when hovered over
	a:hover code.inline-code
		text-decoration  underline

	// Styles for code blocks' container
	pre
		line-height  1em
		border  1px solid #ddd


/* ----------------------------------------------------------------------------
Post styles */

article
	// The post header and meta info
	header
		border-bottom  1px var_gray solid
		padding-bottom  0.5em

		// The post title
		h1
			margin  0.3em 0 0.3em
			font-weight  600
			//text-transform  capitalize

		// The post meta stuff
		#post-meta
			color  var_black
			font-size  0.8em


/* ============================================================================
FOOTER
============================================================================ */

footer
	background  var_white
	color  dark_gray
	text-align  center
	font-size  11px

	display  block
	border-top  1px var_gray solid
	width  100%


/* ----------------------------------------------------------------------------
Stick to bottom footer, thingy */

html, body
	height  100%

div#wrapper
	min-height  100%
	margin  0 auto -76px

footer, div#push-footer
	height  76px // #push-footer must be the same height as the footer
	clear  both

/* Thanks to Ryan Fait for it's sticky footer trick
 * http //ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */
