/* VARIABLES */

/* FONT VARIABLES */

$sans-serif-family: "Open Sans", sans-serif;
$serif-family: serif;
$monospace-family: Consolas, Menlo, Monaco, "DejaVu Sans Mono", monospace;

/* COLOR VARIABLES */

$normal-blue:#2793e6;

$normal-red:#C83D2D;
$dark-red:#85281E;

$lighter-gray:#ebebeb;
$light-gray:#b8b8b8;
$normal-gray:#eee;
$dark-gray:#aaa;
$darker-gray:#525252;
$var-black:#333;

$background:#fefefe;
$content-color:#333;
$title-color:#000;
$link-unvisited:#2793e6;
$link-visited:#2793e6;



/* UNDOING THE CSS RESET */

/* HEADING TAGS */

h1, h2, h3, h4, h5, h6 {
	line-height:1.2;
	text-rendering:optimizelegibility;
	font-family:$sans-serif-family;
	color:black;
	margin-top:1em;
	margin-bottom:0.5em;
}

// font weights
h1, h2 { font-weight:400; }
h3, h4, h5, h6 { font-weight:bold; }

// heading sizes
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:14px; }
h4 { font-size:12px; }
h5 { font-size:10px; }
h6 { font-size:8px; }

/* ANCHOR TAGS */

a:link, a:visited {
	color:$link-unvisited;
	background:inherit;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
a:focus { outline:thin-dotted; }
a:active { outline:thin-dotted; }

/* HORIZONTAL RULERS */

hr {
	border:0;
	margin:0;
	height:1px;
	width:100%;
	border-bottom:solid 1px #eee;
}

/* TEXT/CONTENT */

p { margin:1.1em 0; }

/* LISTS */

ol, ul { padding-left:50px; }

ul {
	list-style-type:disc;
	ul {
		list-style-type:circle;
		ul { list-style-type:square; }
	}
}

ol { list-style-type:decimal; }

/* CODE RELATED TAGS */

// styles for all code related tags
pre, pre>code, p>code, a>code {
	font-family:$monospace-family;
	line-height:18px;
	font-size:13px;
	background:$lighter-gray;
	margin:0;
	padding:0;
}

// border(s)
pre, p>code, a>code { border:1px solid $light-gray; }

// inline code blocks
p>code, a>code {
	padding:1px 5px;
	//margin:0 2px;
}

// pre tags, code blocks
pre {
	text-align:left;
	padding:5px 5px;
	margin:0 10px;
}



/* NAVIGATION */

header[role="banner"] {
	clear:both;
	margin-top:50px;
	padding-bottom:24px;
	border-bottom:1px $light-gray solid;
	nav {
		float:none;
		div.webtitle {
			a {
				font-size:18px;
			}
			text-align:center;
			display:inline-block;
			width:30%;
		}
		ul {
			text-align:center;
			width:70%;
			display:inline-block;
			margin:0;
			padding:0;
			list-style:none;
			li { display:inline; }
		}
		a {
			letter-spacing:1px;
			line-height:1.1em;
			display:inline-block;
			padding:0 12px;
		}
		a:link, a:visited { color:$var-black; }
		a.menu-current { color:$link-unvisited; }
		a:hover { text-decoration:none; color:$link-unvisited; }
	}
}



/* CONTENT STYLES AND LAYOUT */

html { font-size:15px; }

#wrapper {
	line-height:1.5;
	font-family:$sans-serif-family;
	font-weight:400;
	color:$var-black;

	margin:0 auto;
	padding:0 10px; // make it nice for really small screens

	min-width:300px;
	max-width:650px;
}

main {
	//padding-top:50px;
	min-height:200px;
}

article {
	h1 {
		//padding-left:1rem;
	}
	p:last-child {
		margin-bottom:0;
	}
	font-size:1rem;
}

article.post {
	section.meta {
		font-size:.8rem;
		color:$dark-gray;
		//padding-left:1rem;
	}
}



/* FOOTER */

footer {
	background:$background;
	font-size:0.8rem;
	color:$var-black;
	text-align:center;

	display:block;
	clear:both;

	margin-top:24px;
	border-top:1px $light-gray solid;
	padding-top:1em;
	margin-bottom:2em;
	p {
		margin:0;
	}
}



/* MEDIA QUERIES */

// nothing here...
