// Font
@import url(http://fonts.googleapis.com/css?family=Open+Sans|Merriweather+Sans:400,400italic,700,700italic,300,300italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);

$sans-serif-family: "Open Sans", "Merriweather Sans", sans-serif;
$serif-family: Merriweather, serif;
$monospace-family: "DejaVu Sans Mono", Menlo, Monaco, Consolas, monospace;

// Colors
$normal-blue:#2793e6;
$normal-red:#d24939;
$lighter-gray:#ebebeb;
$light-gray:#b8b8b8;
$normal-gray:#eee;
$dark-gray:#aaa;
$darker-gray:#525252;
$var-black:#333;

$background:#fefefe;
$content-color:#333;
$title-color:#000;
$link-unvisited:#2793e6;
$link-visited:#2793e6;

h1, h2, h3, h4, h5, h6 {
	line-height:1.2em;
	text-rendering:optimizelegibility;
	font-family:$sans-serif-family;
	color:black;
	margin-top:1em;
	margin-bottom:0.5em;
}

h1, h2 { font-weight:400; }
h3, h4, h5, h6 { font-weight:bold; }

h1 { font-size:2.1em; }
h2 { font-size:1.5em; }
h3 { font-size:1.25em; }
h4 { font-size:1.125em; }

a:link, a:visited {
	color:$link-unvisited;
	background:inherit;
	text-decoration:none;
}
a:hover { text-decoration:underline; }
a:focus { outline:thin-dotted; }
a:active { outline:thin-dotted; }

hr {
	border:0;
	margin:0;
	height:1px;
	width:100%;
	border-bottom:solid 1px #eee;
}

code {
	font:$monospace-family;
	font-size:0.75em;
}

code.inline-code {
	background:#eee;
	font-weight:bold;
	padding:0.1em 0.18em;
	margin:0;
	border:1px solid $light-gray;
	white-space:nowrap;
}

pre {
	text-align:left;
	line-height:1em;
	border:1px solid $light-gray;
}

body {
	line-height:1.6;
	font-family:$sans-serif-family;
	font-size:16px;
	font-weight:400;
	color:$var-black;
}

main {
	margin:0 auto;
	padding-top:50px;
	min-height:200px;
	width:650px;
}

header[role="banner"] {
	clear:both;
	width:100%;
	background:$lighter-gray;
	margin-top:50px;
	border-top:1px $darker-gray solid;
	border-bottom:1px $darker-gray solid;
	nav {
		margin:0 auto;
		width:650px;
		float:none;
		text-align:center;
		ul {
			margin:0;
			padding:0;
			list-style:none;
			li {
				display:inline;
			}
		}
		a {
			text-transform:uppercase;
			letter-spacing:1px;
			line-height:1.1em;
			display:inline-block;
			padding:10px 3%;
			//border-bottom:3px $var-black solid;
		}
		a:link, a:visited {
			color:$var-black;
		}
		a.menu-current {
			color:$link-unvisited;
		}
		a:hover {
			text-decoration:none;
			color:$link-unvisited;
			//border-color:$link-unvisited;
		}
	}
}

article.post {
	h1 {
		text-transform:capitalize;
	}
	.meta {
		position:absolute;
		width:150px;
		left:0px;
		font-size:13px;
		color:$dark-gray;
		text-align:right;
		p {
			margin:0;
		}
	}
}

footer {
	background:$background;
	color:$var-black;
	text-align:center;
	font-size:0.8em;
	display:block;
	clear:both;
}

@media (min-width: 320px) {
}

@media (min-width: 480px) {
}

@media (min-width: 600px) {
}

@media (min-width: 801px) {
}

@media (min-width: 1025px) {
}

@media (min-width: 1281px) {
}
