/*! EduanTech theme by Eduan Lavaque, Licensed under the MIT license */

// Enable nib
@import 'nib'
// Import necessary files
@import 'normalize.css'
@import 'pushy.css'
@import 'vars.inc'
@import 'fontello.css'

// Highlight.js
@import 'github.css'



/* ============================================================================
BASIC TAGS' STYLES
============================================================================ */

/* ----------------------------------------------------------------------------
Heading tags */

h1, h2, h3, h4, h5, h6
	line-height  1.2em
	font-family  title_font
	color  title_color
	text-rendering  optimizelegibility
	margin-top  1em
	margin-bottom  0.5em

h1, h2
	font-weight  400
h3, h4, h5, h6
	font-weight  bold

h1
	font-size  2.5em
h2
	font-size  1.5em
h3
	font-size  1.25em
h4
	font-size  1.125em


/* ----------------------------------------------------------------------------
Anchor tags */

a:link, a:visited
	color  normal_blue
	background  inherit
	text-decoration  none
a:visited
	color  dark_blue
a:hover
	text-decoration  underline
a:focus
	outline  thin-dotted
a:active
	outline  thin-dotted


/* ----------------------------------------------------------------------------
Horizontal ruler */

// Nothing here yet...


/* ----------------------------------------------------------------------------
Code/pre styles */
code
	font  mono_font !important
	font-size  0.75em

// What `` generates when in Markdown, the <code> tag
code.inline-code
	background  lighter_gray
	font-weight  bold
	padding  0.1em 0.18em
	margin  0
	border  1px solid light_gray
	white-space  nowrap

// Styles for code blocks' container
pre
	line-height  1em
	border  1px solid light_gray


/* ============================================================================
CONTAINER AND STUFF
============================================================================ */

*
	// Make width/height include margin/padding in calculation
	box-sizing  border-box
	// Font smoothing...
	text-shadow  1px 1px 1px rgba(0,0,0,0.02)
	line-height  1.5

nav
	ul
		list-style  none
		padding  0
		margin  0

	a, a:link, a:visited
		color  normal_gray

// The "main" styles for the content
#wrapper
	overflow-x  hidden
	color  content_color
	background  background
	position  relative
	font-family  font
	font-size  1.05em
	font-weight  300
	margin  0 auto

	ul, ol
		text-align  left

pre
	text-align  left

html, body
	color  content_color
	background  background
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */

.menu-btn
	width  100px
	padding  10px
	margin-bottom  30px
	background  dark_gray
	color  #fff
	text-align  center
	cursor  pointer

.menu-btn:hover
	background  #00b4ff
	color  #fff

/* ============================================================================
CONTENT RULES
============================================================================ */

/* ----------------------------------------------------------------------------
Post styles */

article
	// The post header and meta info
	header
		margin-bottom  0.5em

		// The post title
		h1
			margin  0.3em 0 0.3em
			padding-bottom  0.1em
			font-weight  400
			//border-bottom  1px normal_gray solid

		// The post meta stuff
		div#post-meta
			color  normal_gray
			font-size  0.8em

	div#back-to-top
		text-align  center


/* ============================================================================
FOOTER
============================================================================ */

footer
	background  background
	color  content_color
	text-align  center
	font-size  0.7em

	display  block
	border-top  1px normal_gray solid
	width  100%
	clear  both

	position  relative
	bottom  0


/* ----------------------------------------------------------------------------
Stick to bottom footer, thingy */

// Not being used temporarily

/* Thanks to Ryan Fait for it's sticky footer trick
 * http //ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */
