/*! EduanTech theme by Eduan Lavaque, Licensed under the MIT license */

// Enable nib
@import 'nib'
// Import normalize.css
@import 'normalize.css'

/* ============================================================================
SCSS VARIABLES
============================================================================ */

light_yellow_brown = #f7f1da
dark_blue          = #27437c
normal_blue        = #456fc4
light_blue         = #80afbf
normal_red         = #d24939
light_gray         = #d9d8d6
normal_gray        = #757172
dark_gray          = #333
var_black          = #323232


// Font
@import url("http://fonts.googleapis.com/css?family=Source\+Sans\+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic")
font       = "Source Sans Pro", Arial, sans-serif
title_font = "Source Sans Pro", Helvetica, sans-serif
mono_font  = "DejaVu Sans Mono", Menlo, Monaco, Consolas, monospace


/* ============================================================================
BASIC TAGS' STYLES
============================================================================ */

/* ----------------------------------------------------------------------------
Heading tags */

h1, h2, h3, h4, h5, h6
	line-height  1.2em
	font-family  title_font
	color  var_black
	text-rendering  optimizelegibility
	margin-top  1em
	margin-bottom  0.5em

h1, h2
	font-weight  300
h1
	color  var_black
h2
	color  dark_gray
h3, h4, h5, h6
	font-weight  bold

h1
	font-size  2.5em
h2
	font-size  1.5em
h3
	font-size  1.25em
h4
	font-size  1.125em


/* ----------------------------------------------------------------------------
Anchor tags */

a:link, a:visited
	color  normal_blue
	background  inherit
	text-decoration  none
	border-bottom  1px var_gray solid

a:visited
	color  dark_blue
a:hover
	text-decoration  underline
a:focus
	outline  thin-dotted
a:active
	text-decoration  underline

/* ----------------------------------------------------------------------------
Horizontal ruler */

// Nothing here yet...


/* ----------------------------------------------------------------------------
Code/pre styles */
code
	font  mono_font
	font-size  0.8em

// What `` generates when in Markdown, the <code> tag
code.inline-code
	background  #f8f8f8
	font-weight  bold
	padding  0.1em 0.18em
	margin  0
	border  1px solid #ddd
	white-space  nowrap

// Make <code> tags that are a link have an underline when hovered over
a:hover code.inline-code
	text-decoration  underline

// Styles for code blocks' container
pre
	line-height  1em
	border  1px solid #ddd


/* ============================================================================
CONTAINER AND STUFF
============================================================================ */

*
	// Make width/height include margin/padding in calculation
	box-sizing  border-box
	// Font smoothing...
	text-shadow  1px 1px 1px rgba(0,0,0,0.004)
	line-height  1.2em
	font-family  font


// The "main" styles for the content
div#wrapper
	color  var_black
	font-family  font
	font-size  1em
	font-weight  400
	margin  0 auto


/* ============================================================================
CONTENT RULES
============================================================================ */


main
	font-weight  400

	header
		border-bottom  1px normal_gray solid

		h1
			font-size  2em
		div#post-meta
			color  dark_gray

/* ----------------------------------------------------------------------------
Post styles */

article
	// The post header and meta info
	header
		border-bottom  1px var_gray solid
		padding-bottom  0.5em

		// The post title
		h1
			margin  0.3em 0 0.3em
			font-weight  400
			font-size 1.5em
			//text-transform  capitalize

		// The post meta stuff
		#post-meta
			color  var_black
			font-size  0.8em


/* ============================================================================
FOOTER
============================================================================ */

footer
	background  var_white
	color  dark_gray
	text-align  center
	font-size  11px

	display  block
	border-top  1px var_black solid
	width  100%
	clear  both


/* ----------------------------------------------------------------------------
Stick to bottom footer, thingy */

// Not being used temporarily

/* Thanks to Ryan Fait for it's sticky footer trick
 * http //ryanfait.com/resources/footer-stick-to-bottom-of-page/
 */
