/* VARIABLES */

/* FONT VARIABLES */

$sans-serif-family:"Open Sans", sans-serif;
$serif-family:"Libre Baskerville", Baskerville, serif;
$monospace-family:Consolas, Menlo, Monaco, "DejaVu Sans Mono", monospace;

/* COLOR VARIABLES */

$normal-blue:#2793e6;

$normal-red:#C83D2D;
$dark-red:#85281E;

$lighter-gray:#ebebeb;
$light-gray:#b8b8b8;
$normal-gray:#ddd;
$dark-gray:#aaa;
$darker-gray:#525252;
$var-black:#333;

$background:#fff;
$content-color:#575757;
$title-color:#262626;
$link:#f66;
$link-visited:#f66;



/* UNDOING THE CSS RESET */

/* BLOCK QUOTES */

blockquote {
	//margin-left:2rem;
	border-left:4px $lighter-gray solid;
	padding-left:1rem;
	color:$dark-gray;
}

/* BASIC MARKUP TAGS */

em, i { font-style:italic; }

strong, b { font-weight:bold; }

/* HEADING TAGS */

// general
h1, h2, h3, h4, h5, h6 {
	font-family:$serif-family;
	line-height:1.2;
	text-rendering:optimizelegibility;
	color:$title-color;
	margin-top:1em;
	margin-bottom:0.5em;
}

// font weights
h1, h2 { font-weight:normal; }
h3, h4, h5, h6 { font-weight:bold; }

// heading sizes
h1 { font-size:24px; }
h2 { font-size:18px; }
h3 { font-size:14px; }
h4 { font-size:12px; }
h5 { font-size:10px; }
h6 { font-size:8px; }

/* ANCHOR TAGS */

a:link, a:visited {
	color:$link;
	background:inherit;
	text-decoration:none;
}
a:visited { color:$link-visited; }
a:hover { text-decoration:underline; }
a:focus { outline:thin-dotted; }
a:active { outline:thin-dotted; }

/* HORIZONTAL RULERS */

hr {
	border:0;
	margin:0;
	height:1px;
	width:100%;
	border-bottom:solid 1px #eee;
}

/* TEXT/CONTENT */

p { margin:1.1rem 0; }

abbr {
	border-bottom:1px $light-gray dotted;
}

/* LISTS */

ol, ul {
	padding-left:3rem;
	list-style-position:outside;
	margin:1.1rem 0;
}

ul {
	list-style-type:disc;
	ul {
		list-style-type:circle;
		ul { list-style-type:square; }
	}
}

ol { list-style-type:decimal; }

/* CODE RELATED TAGS */

// styles for all code related tags
pre, pre>code, p>code, a>code {
	font-family:$monospace-family;
	line-height:1.2rem;
	font-size:13px;
	background:$lighter-gray;
	margin:0;
	padding:0;
}

// border(s)
pre, p>code, a>code { border:1px solid $light-gray; }

// inline code blocks
p>code, a>code {
	padding:1px 5px;
	//margin:0 2px;
}

// pre tags, code blocks
pre {
	overflow:auto;
	white-space:nowrap;
	text-align:left;
	padding:5px 5px;
	margin:0 10px;
}

/* GUIDELINE FOR REM */

html { font-size:16px; }



/* CONTENT STYLES AND LAYOUT */

#wrapper {
	line-height:1.5;
	font-family:$sans-serif-family;
	font-weight:normal;
	font-size:1rem;
	color:$content-color;
	margin:0 auto;
	padding:0 10px; // make it nice for really small screens
	min-width:300px;
	max-width:700px;
}

header[role="banner"] {
	text-align:center;
	margin-top:30px;

	a, a:link, a:visited { color:$content-color; transition:.3s; }
	a:hover { text-decoration:none; color:$link; }
	nav {
		padding:0;
		margin:0;
		a {
			font-size:1rem;
			display:inline-block;
			padding:0 20px;
			border-left:1px $lighter-gray solid;
		}
		a:last-child { border-right:1px $lighter-gray solid; }
		a:hover { background:#f5f5f5; }
	}
}

main { min-height:200px; }

article {
	font-size:1rem;
	header {
		h1 { font-size:2.8rem; text-align:center; }
	}
}

article.post, article.page {
	.meta {
		font-family:$serif-family;
		text-align:center;
		font-size:1.1rem;
		color:$normal-gray;
		margin-bottom:1.5em;
		a:link, a:visited { color:$normal-gray; transition:0.2s; }
		a:hover { color:$link; text-decoration:none; }
	}
}

article.page {
	ul.posts-list {
		padding-left:0;
		list-style-type:none;
		margin-left:1rem;
		time {
			color:$darker-gray;
			font-size:.7rem;
			text-transform:uppercase;
		}
	}
}



/* FOOTER */

footer {
	font-size:.9rem;

	margin-top:24px;
	border-top:1px $lighter-gray solid;
	//padding:15px;
	//padding-top:24px;
	//margin-bottom:2em;
	text-align:center;

	p { margin-top:24px; }
}



/* MEDIA QUERIES */

// nothing here...
