@import 'vars.inc'

div#wrapper
	min-width  600px
	width  93%
	max-width  800px

	// The header, i.e. the logo and navigation
	header[role='banner']
		width  100%
		height  100%
		margin-bottom  30px
		margin-top  50px

		// Social icons
		div#social-icons
			float  right
			a
				opacity  0.5
				zoom  1
			a:hover
				transition  opacity 0.3s ease-in-out
				opacity  1

			a:link, a:visited
				color  foreground
				background  inherit
				text-decoration  none
				border-bottom  none
			a:hover, a:active
				text-decoration  none

		// Logo
		img
			float  left

		// Navigation
		nav
			margin-left  150px
			margin-top  auto
			margin-bottom auto
			//margin  0 auto
			text-transform uppercase
			font-weight  bold

			a
				display  block

			a:link, a:visited
				color  foreground
				background  inherit
				text-decoration  none
				border-bottom  none
			a:hover, a:active
				text-decoration  none

			ul
				padding-left  0
				list-style  none

				li
					border-bottom  1px light_gray solid
					a
						padding  0.1em 0
						padding-left  0.3em

				li:hover
					background  lighter_gray

				li:first-child
					border-top  1px light_gray solid

				li#menu-current
					a
						color  dark_gray

	main
		clear  both

	footer
		margin-top  50px

/* SECTIONS
 * splits up the page horizontally. You'll need a few of these to break up the
 * content, and you can use them in your main wrapper, or within other divs.
 */
.rgs-section
	clear  both
	padding  0
	margin  0

/* COLUMN SETUP
 * divides the section into columns. Each column has a left margin of 1.6%
 * (around 20 pixels on a normal monitor), except the first one. Using
 * `.rgs-col:first-child { margin-left: 0; }` means you don't need to use
 * `class="last"` anywhere. It works in all browsers since IE6.
 */
.rgs-col
	display  block
	float left
	margin  1% 0 1% 1.6%

.rgs-col:first-child
	margin-left  0

/* GROUPING
 * solves floating problems, by forcing the section to self clear its children
 * (aka the clearfix hack). This is good in Firefox 3.5+, Safari 4+, Chrome,
 * Opera 9+ and IE 6+.
 */
.rgs-group:before, .rgs-group:after
	content  ""
	display  table

.rgs-group:after
	clear  both

/* .rgs-span-1-of-3 / .rgs-span-1-of-4
 * specifies the width of the column. Using percentages means it's 100% fluid.
 */

/* GRID OF THREE (NAV) */
.rgs-3-of-3
	width  100%

.rgs-2-of-2
	width  66.1%

.rgs-1-of-2
	width  32.2%


/* GRID OF FOUR */
/*
.rgs-4-of-4
	width  100%

.rgs-3-of-4
	width  74.6%

.rgs-2-of-4
	width  49.2%

.rgs-1-of-4
	width  23.8%
*/
