// Font
@import url("http://fonts.googleapis.com/css?family=Merriweather\+Sans:400,400italic,700,700italic,300,300italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic")
font       = "Merriweather Sans", Helvetica, sans-serif
title_font = font
mono_font  = "DejaVu Sans Mono", Menlo, Monaco, Consolas, monospace

// Colors
normal_blue  = #2793e6
normal_red   = #d24939
lighter_gray = #ebebeb
light_gray   = #b8b8b8
normal_gray  = #eee
dark_gray    = #aaa

foreground = #333
background = #fefefe

title_color = #000
content_color = foreground
