light_yellow_brown = #f7f1da
dark_blue          = #27437c
normal_blue        = #456fc4
light_blue         = #80afbf
normal_red         = #d24939
lighter_gray       = #ebebeb
light_gray         = #b8b8b8
normal_gray        = #999
dark_gray          = #7a7a7a
var_black          = #323232

foreground = #1f1f1f
background = white

title_color = normal_gray
