// Font
@import url("http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic")
font       = Helvetica, Arial, sans-serif
title_font = Merriweather, "Times New Roman", serif
mono_font  = "DejaVu Sans Mono", Menlo, Monaco, Consolas, monospace

// Colors
dark_blue    = #27437c
normal_blue  = #456fc4
normal_red   = #d24939
lighter_gray = #ebebeb
light_gray   = #b8b8b8
normal_gray  = #999
dark_gray    = #7a7a7a

foreground = #444
background = #fefefe

title_color = #000
content_color = foreground
